# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.dbmodel
